<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pi2_WebInterface</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}  
            </tr>
            {% endfor %}
        </table>
        {% if status == 'ON' %}
            <h1 style="color:lightgreen;" class="status">{{status}}</h1>
        {% else %}
            <h1 style="color:red;" class="status">{{status}}</h1>
        {% endif %}
        <form method="post" action="/" class="form">

            {% if button_status == 'SensorOff' %}
                <input type="submit" value="SensorOn" name="SensorOn" class="button"/>
                <input type="submit" value="SensorOff" name="SensorOff" class="button" style="background-color: red;"/>
            {% else %}
                <input type="submit" value="SensorOn" name="SensorOn" class="button" style="background-color: lightgreen;"/>
                <input type="submit" value="SensorOff" name="SensorOff" class="button"/>
            {% endif %}
            
            <input type="submit" value="Status" name="Status" class="button"/>
            <input type="submit" value="LogCheck" name="LogCheck" class="button"/>
            <input type="submit" value="LogDownload" name="LogDownload" class="button"/>
            <input type="submit" value="Exit()" name="Exit()" class="button"/>
    
        </form>
        
    </div>    
</body>
</html>