<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Server Pi2</title>
</head>
<body>
    <div class="Container">
        <div class="btn1">
            <a href="something" class="button1">Sensor_On</a>
        </div>
        <div class="btn2">
            <a href="something" class="button1">Sensor_Off</a>
        </div>
        <div class="btn3">
            <a href="something" class="button1">Status</a>
        </div>
        <div class="btn4">
            <a href="something" class="button1">Log Check</a>
        </div>
        <div class="btn5">
            <a href="something" class="button1">Log Download</a>
        </div>
        <div class="btn6">
            <a href="something" class="button1">Exit()</a>
        </div>
    </div>
</body>
</html>